apiVersion: v1
kind: ConfigMap
metadata:
  name: filebeat-config
  namespace: logging
data:
  filebeat.yml: |-
    filebeat.inputs:
    - type: filestream
      id: kubernetes-logs
      paths:
        - /var/log/containers/*.log

    processors:
      - add_kubernetes_metadata:
          in_cluster: true

    output.logstash:
      hosts: ["logstash.logging.svc.cluster.local:5044"]

    setup.kibana:
      host: "kibana.logging.svc.cluster.local:5601"
